{% block footer %}
<footer class="md-footer">
  <div class="md-footer-meta">
    <div class="md-footer-meta__inner">
      
      <!-- Left side -->
      <div class="footer-left">
        <p>© 2025 KhaledLab</p>
        <p>We are part of the 
          <a href="https://computing.siu.edu/">School of Computing</a> at 
          <a href="https://siu.edu/">Southern Illinois University Carbondale</a>.
        </p>
      </div>

      <!-- Right side with two columns -->
      <div class="footer-right">
        <div class="footer-contact">
          <p><strong>Contact:</strong></p>
          <p>Southern Illinois University Carbondale</p>
          <p>1263 Lincoln Drive, Carbondale, IL 62901-6899, USA</p>
          <p>Phone: (618) 453-2121</p>
          <p><a href="https://maps.siu.edu/">Maps, Contacts and Directions</a></p>
        </div>
        <div class="footer-social">
          {{ config.extra.social | markdown }}
        </div>
      </div>

    </div>
  </div>
</footer>
{% endblock %}
